@font-face {
    font-family: 'basier';
    src: url('./fonts/basier.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'basier';
}

a {
    text-decoration: none;
}

.quickCreateToolbarContainer {
    width: 230px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;

}

.quickCreateButtonContainer {
    width: 230px;
    height: 64px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.quickCreateToolbarContinaer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 40px;
    margin-bottom: 20px;
}

.quickCreateButton {
    width: 64px;
    height: 64px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 10px;
    border-width: 4px;
    border-color: #C4C4C4;
    border-style: solid;
    float: right;
    transition: 230ms;
    display: flex;
    justify-content: flex-end;

}

.quickCreateButtonIcon {
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 10px;
}

.quickCreateButtonText {
    opacity: 0;
    color: #fff;
    font-size: 9px !important;
    line-height: 10px;
    transition-delay: 0ms;
    height: 100%;
    display: flex;
    align-items: center;
    width: calc(100% + 64px);
    display: flex;
    justify-content: center;
    font-family: 'basier';
    font-weight: bold;
}

.quickCreateButton:hover {
    width: 230px;
    border-radius: 10000px;
}

.quickCreateButton:hover .quickCreateButtonText {
    opacity: 1;
    color: #1E1F1F;
    transition-delay: 230ms;
}

.quickCreateButtonIconImg {
    width: 44px;
}

.quickCreateActionTextContainer {
    width: 64px;
    height: 64px;
    transition: 200ms;
    float: right;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    border-width: 4px;
    border-color: #000;
    border-style: solid;
}

.quickCreateActionText {
    width: 0px;
    opacity: 0;
    color: #fff;
    transition-delay: 0ms;
}

.quickCreateActionTextContainerActive {
    width: 222px;
    border-radius: 100000px;
    height: 64px;
    transition: 200ms;
    float: right;
    background-color: #000;
    cursor: pointer;
    display: flex;
    border-width: 4px;
    border-color: #000;
    border-style: solid;
}

.quickCreateActionTextContainerActive .quickCreateActionText {
    width: calc(100% - 100px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    color: #fff;
    font-size: 9px !important;
    line-height: 10px;
    transition-delay: 200ms;
}

.quickCreateActionButton {
    height: 64px;
    width: 64px;
    background-color: #000;
    border-radius: 50%;
    margin-bottom: 10px;
    background-image: url('./img/plusIcon.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
}

.quickCreateToolbarInner {
    opacity: 1;
    transition: 200ms;
}

.inactive {
    opacity: 0;
    transition: 200ms;
}